=form_tag courses_path, method: :get do
    %p
        =text_field_tag :q, "",placeholder: "Search query"
        =button_tag "search"
    %filedset
        %legend Advanced
        %p
            =text_field_tag "search[title]", "",class:"form-control",placeholder:"Title"
        %p
            =text_field_tag "search[category]", "",class:"form-control",placeholder:"Category"
        %p.input-group.col-md-4
            =text_field_tag "search[duration_start]", "",class: "form-control",placeholder:"start"
            %span.input_group_addon
                &rarr;
            =text_field_tag "search[duration_end]", "",class: "form-control",placeholder: "end"
        =button_tag "search"