=form_tag courses_path, method: :get do
    %p
        =text_field_tag :q, "",placeholder: "Search query"
        =button_tag "search"
    %filedset
        %legend Advanced
        %p
            =text_field_tag "search[title]", "",class:"form-control",placeholder:"Title"
        %p
            =text_field_tag "search[category]", "",class:"form-control",placeholder:"Category"
        .row
            .col-md-4
                %p.input-group
                    =text_field_tag "search[duration_start]", "",class: "form-control",placeholder:"duration start"
                    %span.input_group_addon
                        &rarr;
                    =text_field_tag "search[duration_end]", "",class: "form-control",placeholder: "duration end"
            .col-md-4
                %p.input-group.input-daterange.date.col-md-4
                    =text_field_tag "search[published_at_start]", "",class: "form-control",placeholder:"publish start"
                    %span.input_group_addon
                        &rarr;
                    =text_field_tag "search[published_at_end]", "",class: "form-control",placeholder: "publish end"
            .col-md-4
                %p
                    Publish last:
                    =select_tag "search[published_at_last]", options_for_published_at
    %p
        =button_tag "search"